.footer {
  padding: 22px 10vw;
  display: flex;
  justify-content: space-between;
  font: 500 10px "DM Mono";
  color: var(--muted);
}

@media (max-width: 650px) {
  .footer {
    padding: 20px 6vw;
    display: block;
  }

  .footer span {
    display: block;
    margin: 5px 0;
  }
}

@media print {
  .footer {
    display: none;
  }
}
